# history files
.bash_history
.cljsc_history
.lesshst
.irb-history
.sh_history
.pry_history
.psql_history
.node_repl_history
.scala_history

## temporary
# will eventually want this to be managed in this repo (probably?)
.propellor

# ??
.Xauthority
.cups/lpoptions

# Caches/languages/tools stuff
# (that doesn't need VC'd)
bin/elm-format
.bundle
.cabal
.cache
.cargo
.chef
.elm
.ghc
.gem
.hoe_template
.hex
.idris
.lein
.m2
#  -- another clojure thing ??
.mix
.node-gyp
.python-eggs
.npm
.rvm
.stack
.subversion
.vagrant.d
.rush
#   -- will probably want to un-ignore this someday

# pixel piracy
.config

# app stuff
.dropbox
.geeknote
#  -- just an error log and db cache
.tox
#  -- another part of geeknote
.heroku
.local
#  -- the long dark
.uqm
#  -- the urquan masters
.uqmhd
# Dirs
Applications
Backup
Desktop
Documents
Downloads
Dropbox
Files
Inbox
Library
Movies
Music
Nextcloud
Pictures
Projects
Public
Reference
EF
Sites
VirtualBox VMs
Blizzard
ttm
brunner
var
browser-sessions

# SSHHHHH SECRETS
secrets
.rclone.conf
.lpass
.pgpass
.netrc
.ttm_scalr_access_info
.ttm_scalr_aliases.json
.gnupg
.papertrail.yml
.ssh
.vault-token
.toodledo
.account

# garbage
.oracle_jre_usage
.viminfo
.rnd
.bash_sessions
.dialyxir_core_*.plt
.rncache
# i think rncache is "react native" cache. seems to have tar.gz files of utils or somethin

# os x stuff
.CFUserTextEncoding
.DS_Store
.Trash

# log files, caches
.funstation.d/daemon.log
.lldb
.redd-up/cache
.redd-up/error-log
.redd-up/last-run
.swipl-dir-history
.cpu.history
.ex_supervisor



# misc, uncategorized yet
.ammonite/
.anaconda/
.bash_profile-anaconda.bak
.bash_profile-anaconda2.bak
.conda/
.condarc
.continuum/
.coursier/
.dotnet/
.eclipse/
.ipython/
.ivy2/
.nuget/
.sbt/
.scalaide/
api_cache/
project/
secret
.bintray/
.docker/
/.ghcjs/
/.docker/
.exercism.json
.ispell_english
.webdrivers
.webtask
.yarnrc
