[submodule ".bash_it"]
	path = .bash_it
	url = http://github.com/revans/bash-it.git
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/syl20bnr/spacemacs
	ignore = dirty
[submodule "apps/swagger-editor"]
	path = apps/swagger-editor
	url = https://github.com/swagger-api/swagger-editor.git
[submodule "lib/emacs/org-wiki"]
	path = lib/emacs/org-wiki
	url = https://github.com/caiorss/org-wiki
